/* universal */

html,
body {
    block-size: border-box;
    margin: 0 0;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Navbar and nav-menu */

.navbar {
    background: #fffe;
    color: #201F2E;
    height: 80px;
    width: 101%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: -1%;
    z-index: 5;
    text-decoration: none;
    padding-top: 40px;
    padding-bottom: 30px;

}

.nav-container {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 4rem;
}

.home-button {
    color: #201F2E;
    text-decoration: none;
    margin-left: 3rem;
    padding: 10px 20px;
}

.nav-menu-button {
    color: #fffe;
    position: relative;
}

.fa-bars {
    color: #201F2E;
    margin-right: 3rem;
    padding: 10px 20px;
    font-size: 4rem;
    justify-content: center;
}

.nav-menu {
    position: absolute;
    left: -200%;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 100vw;
    justify-content: end;
    margin-right: 2rem;
}

.nav-item {
    height: 80px;
}

.nav-links {
    color: #fffe;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
}

.nav-links:hover {
    border-bottom: 4px solid #201F2E;
    transition: all 0.2s ease-out;
}

.nav-links-mobile {
    display: none;
}

/* Main body */

.main-container {
    background-color: #201F2E;
    color: #fffe;
}

/* About me */

.about-me {
    padding: 40px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 90vw);
    grid-auto-rows: minmax(10vh, auto);
    align-items: center;
    justify-items: center;
}

h1 {
    font-size: 5rem;
    display: flex;
    flex: auto;
    margin-bottom: 20px;
    grid-column: 1 / 2;
}

.circular-portrait {
    position: relative;
    width: 400px;
    max-height: 400px;
    overflow: hidden;    
    border-radius: 50%;
    grid-column: 1 / 2;
    grid-row: 2 / 4;
}

.circular-portrait img {
    width: 100%;
    height: auto;
    display: flex;
    flex: auto;
}

.about-me h2 {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    font-size: 4rem;
    display: flex;
    flex: auto;
}

.about-me p {
    grid-column: 1 / 2;
    line-height: 5rem;
    font-size: 2.5rem;
    display: flex;
    flex: auto;
    padding-left: 80px;
    padding-right: 80px;
}






.project {
    box-sizing: border-box;
    width: 300px;
    overflow: hidden;
}
.class-pic {
    max-width: 100%;
    height: auto;
}

