/* universal */

* {
    box-sizing: border-box;
    margin: 0 auto;
}

html,
body {
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #201F2E;
}

/* Navbar and nav-menu */

.navbar {
    background: #fffe;
    color: #201F2E;
    height: 8vh;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: -1%;
    z-index: 5;
    text-decoration: none;
}

.nav-home-container {
    height: 80px;
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: left;
    font-size: 2rem;
}

.home-button {
    color: #201F2E;
    text-decoration: none;
    padding: 10px 20px;
    display: flex;
    text-align: left;
    margin-left: 1rem;
}

.menu-icon {
    display: flex;
    width: 80px;
    position: fixed;
    right: 0%;
    text-align: right;
    justify-content: center;
}

.nav-menu-button {
    display: flex;
    color: #fffe;
    cursor: pointer;
    margin-right: 1rem;
}

.fa-bars {
    color: #201F2E;
    margin-right: 3rem;
    padding: 10px 20px;
    font-size: 2rem;
    justify-content: center;
}

.nav-menu {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 100vw;
    justify-content: end;
    margin-right: 2rem;
    left: -200%;
    top: -100%
}

.nav-item {
    display: block;
    height: 80px;
}

.nav-button {
    text-decoration: none;
    color: #201F2E;
    font-size: 1.5rem;
    display: block;

}

.nav-links {
    color: #fffe;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
    cursor: pointer;
}

.menu-icon {
    display: inline;
}

/* Main body */

.main-container {
    background-color: #201F2E;
    color: #fffe;
}

/* About me */

.about-me {
    padding: 6vw;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 88vw);
    grid-auto-rows: minmax(8vh, auto);
    align-items: center;
    justify-items: center;
}

h1 {
    font-size: 3rem;
    display: inline-flex;
    flex: auto;
    margin-bottom: 2rem;
    margin-top: 2rem;
    grid-column: 1 / 2;
    text-align: center;
}

.circular-portrait {
    position: relative;
    width: 250px;
    max-height: 250px;
    overflow: hidden;    
    border-radius: 50%;
    grid-column: 1 / 2;
    grid-row: 2 / 4;
}

.circular-portrait img {
    width: 100%;
    height: auto;
    display: flex;
    flex: auto;
    size: 50%;
}

.about-me h2 {
    
    padding-top: 10vw;
    margin: 0;
    grid-column: 1 / 2;
    grid-row: 5 / 6;
    font-size: 2.5rem;
    display: flex;
    flex: auto;
    margin-bottom: 2rem;
}

.about-me p {
    box-sizing: border-box;
    width: 80%;
    grid-column: 1 / 2;
    line-height: 2.5rem;
    font-size: 1.25rem;
    display: flex;
    flex: auto;
    text-align: center;
    padding: 2rem 1rem;
}

#quote {
    margin-top: 1rem;
    padding: 10vw 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
}

/* skills */

.skills {
    padding: 6vw;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 88vw);
    grid-auto-rows: minmax(8vh, auto);
    align-items: center;
    justify-items: center;
}

.skills h2 {
    margin-top: 12vw;
    grid-column: 1 / 2;
    font-size: 2.5rem;
    display: flex;
    flex: auto;
    margin-bottom: 3rem;
}

.skill-set {
    width: 75%;
    text-align: center;
}

.fab {
    font-size: 4rem;
    padding: 1.5rem;
}

/* projects */

.projects {
    padding: 6vw;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 88vw);
    grid-template-rows: 10vh;
    grid-auto-rows: minmax(30vw, auto);
    align-items: center;
    justify-items: center;
    grid-gap: 2rem;;
    flex-grow: 1;
}

.projects h2 {
    grid-column: 1 / 2;
    font-size: 2.5rem;
    display: flex;
    flex: auto;
    margin-top: 10vw;
    margin-bottom: 3rem;
}

.project {
    display: block;
    font-size: 1rem;
    border: 2px solid #fffe;
    border-radius: 10%;
    justify-content: center;
    padding-top: 8vw;
    text-align: center;
}

.image-container {
    padding: 1rem;
    width: 70vw;
    height: 50vw;
    overflow: hidden;
}

.card-pic {
    max-width: 100%;
    height: auto;
}

/* footer */

footer {
    padding: 6vw;
    background-color: #0b925e;
    display: grid;
    grid-template-columns: repeat(1, 88vw);
    grid-auto-rows: minmax(10vh, auto);
    text-align: center;
    align-items: center;
    justify-items: center;
}

.footer-button {
    font-size: 3rem;
    text-decoration: none;
    width: fit-content;
    color: #fffe;
    padding: 6vw;
    border: 2px solid #fffe;
    border-radius: 5%;
    cursor: pointer;
}   


/* contact.html css */

.contact {
    padding-left: 60px;
    display: grid;
    grid-template-columns: repeat(1, 90vw);
    grid-auto-rows: minmax(10vh, auto);
    height: auto;
    min-width: 100%;
    margin: 0 auto;
    font-size: 3rem;
    grid-gap: 20px;
    align-items: center;
    justify-items: center;
}

.contact-list {
    border: 4px solid #fffe;
    border-radius: 10%;
    justify-content: center;
    text-align: center;
    width: 60%;
}

.cont {
    font-size: 7rem;
    color: #fffe;
    padding: 1.5rem;
    text-decoration: none;
}

.link {
    color: #fffe;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

@media (hover: hover) {
    .project:hover {
        background-color: #fffe;
        color: #201F2E;
        border: none;
        transition: all 0.2s ease-in-out;
    }
    
    .footer-button:hover {
        background-color: #fffe;
        color: #201F2E;
        border: 2px solid #201f2e;
        transition: all 0.2s ease-in-out;
    }
    
    .contact-list:hover {
        background-color: #fffe;
        color: #201F2E;
        border: none;
        transition: all 0.2s ease-in-out;
    }

    .nav-links:hover {
        border-bottom: 4px solid #201F2E;
        transition: all 0.2s ease-out;
    }
}

@media screen and (min-width: 960px) {
    /*ONLY USE HOVER ON DESKTOP DEVICES*/
    .menu-icon {
        display: none;
    }

    .nav-menu {
        position: relative;
        left: auto;
        display: grid;
        flex-direction: row;
        text-align: center;
        align-content: center;
        grid-template-rows: 80px;
        grid-auto-columns: repeat(12, auto);
        top: 0;
    }

    .nav-item {
        width: 130px;
        padding-top: 30px;
    }
}

@media screen and (prefers-reduced-motion: no-preference) {
    html,
    body {
      scroll-behavior: smooth;
    }
  }

